files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_yarn_install.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)

      # Install NodeJS
      curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -

      # Install Yarn
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo
      yum -y install yarn

      # Install JavaScript dependencies with Yarn
      # cd $EB_APP_STAGING_DIR
      # yarn install --production
