<h1>Welcome to Mağara</h1>

<p>All you need to do is just confirm your email account with this beatiful large blue button</p>
<a href="<%= confirmation_url(@resource, confirmation_token: @token) %>">Confirm my account</a>
